{% extends "layout.html" %}
{% block content %}
<div>
	<h1>{{ name }} - {{ tag }}</h1>
</div>
<div>
	{% if shpmnts %}
		{% for order in shpmnts%}
		<div>
			<ul>
				<li>Tag: {{ order.client.tag }}</li>
				<li>Model: {{ order.product }}</li>
				<li>Amnt: {{ order.quanity}}</li>
				<li>PO#: {{ order.po_num }}</li>
				<li>Tick/Proj: {{ order.tickprojnum }}</li>
				<li>Tracking Num: {{ order.tracking }}</li>
				<!--<li>Deliver Date: {{ order.date }}</li>-->
				<li>Signed:
					{% if order.sig == "1" %}
						Yes By Dave
					{% else %}
						No
					{% endif %}
				</li>

			</ul>
		</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock content %}