{% extends "layout.html" %}
{% block content %}
<div>
	{% if shpmnts %}
		<div>
			<table>
				<thead>
					<tr>
						<th colspan="12">The table Head</th>
					</tr>
					<tr>
						<th>Tag</th>
						<th>Manufacturer</th>
						<th>Model</th>
						<th>Amnt</th>
						<th>PO#</th>
						<th>Tracking Num</th>
						<th>Tick/Proj</th>
						<th>Location</th>
						<th>Deliver Date</th>
						<th>Shipping Company</th>
						<th>Engineer</th>
						<th>Signed</th>
					</tr>
				</thead>
				<tbody>
					{% for order in shpmnts%}
					<tr>
						<td>{{ order.client.tag }}</td>
						<td>{{order.manufacturer }}</td>
						<td>{{ order.model }}</td>
						<td>{{ order.quanity}}</td>
						<td>{{ order.po_num }}</td>
						<td>{{ order.tracking }}</td>
						<td>{{ order.tickprojnum }}</td>
						<td>{{ order.location }}</td>
						<td>{{ order.date }}</td>
						<td>{{ order.ship_co }}</td>
						<td>{{ order.engineer.first}} {{ order.engineer.last}} </td>
						{% if order.sig == "1" %}
							<td>Yes By Dave</td>
						{% else %}
							<td style="color:red">No</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
</div>
{% endblock content %}